<table class="styled">
  <thead>
    <td>Game Time</td>
    <td>Team</td>
    <td>Location</td>
  </thead>
  <tbody>
    <% @games.each do |game| -%>
      <tr>
        <td><%= game.game_time ? game.game_time.strftime("%I:%M %p") : 'TBD' %></td>
        <td><%= game.team.name %></td>
        <td><%= game.field %></td>
      </tr>
    <% end -%>
  </tbody>
</table>