<div class="sidebox">
	<div id="announcements" class="box">
		<div class="box-top">
			<h3>What's New</h3>
		</div>
		<div class="box-body">
			<div class="inner">
			</div><!-- /Inner -->
		</div><!-- /Box-body -->
		<div class="box-bot"></div>
	</div><!-- /Becomesponsor -->
</div>
