<div class="sidebox">
	<div id="becomesponsor" class="box">
		<div class="box-top">
			<h3>StrongCircles</h3>
		</div>
		<div class="box-body">
			<div class="inner">
				<p>Presenting an evolution of our member communities into an online experience that connects our members, engages our participants with useful tools and benefits both you and our sponsors, who are local small businesses!</p>
				<a class="learnmore" href="http://www.strongcircles.com" target="_blank">Learn More</a>
			</div><!-- /Inner -->
		</div><!-- /Box-body -->
		<div class="box-bot"></div>
	</div><!-- /Becomesponsor -->
</div>
