<div id="program_header" class="section-header">
	<div class="section-header-title">
		<h1><%= @division.name %></h1>
		<p><%= team_breadcrumb(@program, @session, @division) %></p>
	</div>
	<div class="section-header-actions" id="program_header_actions">
		<ul class="section-header-buttons">
			<li>
				<a id="add_division_link" href="#">+ Add Special Event</a>
			</li>
		</ul>
	</div>
</div>
<div class="clear-both">
</div>