<div id="set_jersey_number" class="circles-dialog">
	<div class="circles-form">
		<% form_tag update_jersey_number_team_path(@team), :name => "set_jersey_number_form" do %>
			<h3>Manage Jersey Numbers for <%= @team.selected_name %></h3>
			<div id="participant_jersey_table">
				<table class="tablesorter participant-table">
					<thead>
						<th>Player Name</th>
						<th>Jersey Number</th>
					</thead>
					<% @team.players.each_with_index do |p,i|%>
						<tr>
							<td><%= p.name %></td>
							<td><%= text_field_tag "jersey_#{i}".to_sym, p.jersey_number(@team), :size => 3 %></td>
						</tr>
					<% end -%>
				</table>
				<%= hidden_field_tag :current_participant, @participant.id -%>
			</div>
		<% end -%>
	</div>
</div>