/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require mango_admin
 */

span.league-name { font-size : 24px; }

form#new_user { width: 500px;}

span.field_name { font-weight: bold; font-size: 16px;}
td.underline-link { text-decoration: underline;}

div.add_game {
	float: right;
	margin: -32px 10px 0 0;
}

div.row label { margin-top: 5px;}

a.toggle_home_away { float: right;}

div.game-report-header h2 {
  font-weight: bold; font-size: 16px;
}